{% extends 'base.html.twig' %}


{% block title %}
	{{ category.name }}
{% endblock %}

{% block body %}

	{% if programs is not empty %}
		{% for program in programs %}

			<div class="media">

				<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">

				<div class="media-body">

					<h1 class="mt-0">{{ program.id }}
						-
						{{ program.title}}</h1>

					<p>{{ program.summary }}</p>

					<a href="{{ path("program_show", { id: program.id}) }}">Voir la fiche</a>

				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>
			Aucune série trouvée</p>
	{% endif %}

	<a href="{{ path('program_index') }}">Retour à la liste des programmes
	</a>
    
{% endblock %}
