{% extends 'base.html.twig' %}

{% block title %}Catégorie
	{{ category.name }}
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			{% for program in programs %}
				<div>
					<h2>{{ loop.index }}
						/ #
						{{ program.id }}
						<a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a>
					</h2>
					<p>{{ program.summary }}</p>
				</div>
			</div>
		</div>
	{% endfor %}
	<a href="{{ path('category_index') }}">
		Retour à la liste des catégories
	</a>
{% endblock %}