{% extends 'base.html.twig' %}


{% block title %}Episode
	{{episode.number}}
{% endblock %}

{% block body %}
	{% if is_granted("ROLE_ADMIN") %}

		<a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a>

		{% endif %}
		<ul>
			<li>
				Episode :
				{{ episode.number }}
			</li>
			<li>
				{{ episode.title }}
			</li>
			<Li>{{ episode.synopsis }}</Li>
		</ul>

	{% endblock %}
