{% extends "base.html.twig" %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<h1>Toutes les séries de la table program :
	</h1>

	<main class="container-fluid">
		<div class="card">
			{% for program in programs %}
				<div class="card-body">
					<h2>{{ loop.index }}
						/
						{{ program.title }}
						- Catégorie :
						{{ program.category.name }}</h2>
					<p>{{ program.summary }}</p>
					{# Lien vers la fiche de la série : #}
					<a class="text-dark" href="{{ path('program_show', { id: program.id }) }}">Voir la fiche</a>
				{% else %}
					Aucune série trouvée.
				</div>
			{% endfor %}
		</div>
	</main>
	<a href="{{ path('app_index') }}" class="btn btn-primary">Retour à l'accueil</a>
{% endblock %}
