{% extends 'base.html.twig' %}

{% block title %}Saison
	{{ season.number}}
	de
	{{ program.title }}
{% endblock %}

{% block body %}
	<h1>Saison {{ season.number}} de {{ program.title }}, {{ season.year }}</h1>
	{% for episode in season.episodes %}

		<h2>{{ episode.number }}
			:
			<a href="{{ path("episode_show", { slug: episode.slug }) }}">{{ episode.title }}</a></h2>
	{% endfor %}
{% endblock %}